[Unicode]
Unicode=yes

[Version]
signature="$CHICAGO$"
Revision=1

[System Access]
{# AC 7 > Set "Account lockout threshold" to "5 invalid logon attempt(s)" #}
LockoutBadCount = 5
{# AC-7 > Set "Account lockout duration"  to 60 minutes #}
ResetLockoutCount = 60
{# AC-7 > Set "Reset account lockout counter after" to "60 minute(s)" #}
LockoutDuration = 60

[Privilege Rights]
{# AC 3 > Set "Act as part of the operating system" to "No One" #}
SeTcbPrivilege = '*S-1-0-0'
{# CM-6 SC-5 > Set "Adjust memory quotas for a process" to "Administrators, Local Service, Network Service" #}
SeIncreaseQuotaPrivilege = '*S-1-5-20,*S-1-5-19,*S-1-5-32-544'
{# AC-3 > Set "Allow log on locally" to "Administrators" #}
SeInteractiveLogonRight = '*S-1-5-32-544'
{# AC-3 SC-15 > Set "Allow log on through Remote Desktop Services" to "Administrators, Remote Desktop Users" #}
SeRemoteInteractiveLogonRight = '*S-1-5-32-555,*S-1-5-32-544'
{# AC-3 > Set "Change the system time" to "LOCAL SERVICE, Administrators" #}
SeSystemtimePrivilege = '*S-1-5-19,*S-1-5-32-544'
{# AC-3 > Set "Create a pagefile" to "Administrators" #}
SeCreatePagefilePrivilege = '*S-1-5-32-544'
{# AC-3 > Set "Create global objects" to "Administrators, SERVICE, LOCAL SERVICE, NETWORK SERVICE" #}
SeCreateGlobalPrivilege = '*S-1-5-6,*S-1-5-20,*S-1-5-19,*S-1-5-32-544'
{# CM-6 SC-5 > Set "Create symbolic links" to "Administrators" #}
SeCreateSymbolicLinkPrivilege = '*S-1-5-32-544'
{# AC-3 > Set "Deny access to this computer from the network" to "Guests, Local Account" #}
SeDenyNetworkLogonRight = '*S-1-5-32-546'
{# AC-3 > Set "Deny log on locally" to "Guests" #}
SeDenyInteractiveLogonRight = '*S-1-5-32-546'
{# AC-3 SC-5 > Set "Force shutdown from a remote system" to "Administrators" #}
SeRemoteShutdownPrivilege = '*S-1-5-32-544'
{# AC-3 > (L1) Ensure 'Generate security audits' is set to 'LOCAL SERVICE, NETWORK SERVICE' #}
SeAuditPrivilege = '*S-1-5-20,*S-1-5-19'
{# AC-3 > Set "Impersonate a client after authentication" to "Administrators, SERVICE, Local Service, Network Service" #}
SeImpersonatePrivilege = '*S-1-5-6,*S-1-5-20,*S-1-5-19,*S-1-5-32-544'
{# AC-3 > Set "Increase scheduling priority" to "Administrators" #}
SeIncreaseBasePriorityPrivilege = '*S-1-5-32-544'
{# AC-3 > Set "Load and unload device drivers" to "Administrators" #}
SeLoadDriverPrivilege = '*S-1-5-32-544'
{# AU-9 > (L1) Configure 'Manage auditing and security log'
 #Note I put Administrators, no group was specified. #}
SeSecurityPrivilege = '*S-1-5-32-544'
{# AC-3 > Set "Modify an object label" to "No One" #}
SeRelabelPrivilege = '*S-1-0-0'
{# CM-6 SC-5 > Set "Modify firmware environment values" to "Administrators" #}
SeSystemEnvironmentPrivilege = '*S-1-5-32-544'
{# CM-6 SC-5 > Set "Perform volume maintenance tasks" to "Administrators" #}
SeManageVolumePrivilege = '*S-1-5-32-544'
{# AC-3 > Set "Profile system performance" to "Administrators,NT SERVICE\WdiServiceHost" #}
SeSystemProfilePrivilege = '*S-1-5-80-3139157870-2983391045-3678747466-658725712-1809340420,*S-1-5-32-544'
{# CM-6 SC-5 > Set "Restore files and directories" to "Administrators" #}
SeRestorePrivilege = '*S-1-5-32-544'
{# AC-3 SC-5 > Set "Shut down the system" to "Administrators" #}
SeShutdownPrivilege = '*S-1-5-32-544'
{# AC-3 > "Ensure 'Deny log on through Remote Desktop Services' to include 'Guests, Local account,Domain Admins'
 #Note: I'm only denying Guests #}
SeDenyRemoteInteractiveLogonRight = '*S-1-5-32-546'